
.imgDiv {
  width: 100%;
  height: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.image {
  width: 100%;
  height: auto;
}

.textDiv {
}

.text {
  font-size: 1.2em;
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .text { font-size: 1.5em; }
}

@media screen and (min-width: 1024px) {
  .container {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row-reverse;
  }
  .image {
    margin-top: 5rem;
  }
  .textDiv {
    width: 700px;
    width: calc(100% - 300px);
    padding-right: 20px;
  }
}