@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

.formContainer {  
  width: 100%;
  max-width: 475px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #333;
  border-radius: 1rem;
}
.formHeader {
  width: 100%;
  padding: 1.5em;
  background: darkblue;
  background-size: contain;
  background: url('../images/contact/marble.jpg') bottom left;
  border-bottom: 1px solid #333;
  border-radius: 1rem 1rem 0 0;
  color: black;
  .formTitle {
    font-size: 1.8em;
    text-shadow: 1px 1px white, 0 0 10px white;
  }
  .formSubtitle {
    margin: 1em 0 0.4em 0;
    text-shadow: 1px 1px white, 0 0 10px white;
  }
}
.formBody {
  width: 100%;
  margin: 1em 0;
  padding: .5em 1.5em 1em;
  .list {
    padding: 0;
    list-style-type: none;
    .listItem {
      margin: 0.6rem 0;
      color: black;
    }
  }
}
.formLabel {
  font-size: 1.2em;
}
.formInput, .formTextArea {
  font-family: 'Dosis', sans-serif;
  margin: 0.2rem 0;
  font-size: 1.2em;
  width: 100%;
  padding: 0.2rem 0.4rem;
  &:focus {
    background-color: #eee;
    outline: #111;
    outline-style: auto;
  }
}
.formTextArea {
  font-family: 'Dosis', sans-serif;
  min-width: 100%;
  max-width: 100%;
  min-height: 50px;
  max-height: 500px;
}
.submitButton {
  padding: 0.6em 1.2em;
  color: white;
  background-color: blue;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
}

@media screen and (min-width: 1024px) {
  .formContainer {  
    margin-top: 2em;
  }
}