@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

.mainContent {
  display: -ms-flexbox;
  display: flex;
  flex-direction: -ms-column;
  flex-direction: -moz-column;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  min-width: 200px;
  background-color: white;
  border: 1px solid #333;
  border-radius: 1rem;
}

.text {
  padding: 1rem;
}
.contactDescription {
  font-size: 1.2em;
  padding-bottom: 1rem;
}

.emailMe {
  font-size: 1.4em;
}

.headshot {
  display: block;
  width: 100%;
  min-width: 218px;
  max-width: 300px;
  margin: 0 auto;
  height: auto;
  border-radius: 1rem 1rem 0 0;
}


@media screen and (min-width: 426px) {
  .headshot {
    border-radius: 0;
  }
  .text {
    padding: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .mainContent {
    flex-direction: -ms-row-reverse;
    flex-direction: -moz-row-reverse;
    flex-direction: row-reverse;
    margin-top: 2em;
  }

  .headshot {
    border-radius: 0 1rem 1rem 0;
  }
}
