.eventCard {
  border-top: 3px solid #111;
  border-bottom: 3px solid #111;
  border-radius: 1em;
  padding: 1.2rem 0 0 0;
  margin-bottom: 2rem;
  background-color: white;
}

.header {
  display: block;
  margin-bottom: 1rem;
  text-align: center;
}
.name, .date, .location {
  display: block;
  font-weight: 700;
  line-height: 1.3rem;
}
.name {
  font-size: 1.5em;
  margin-bottom: 1rem;
  line-height: 1.1em;
}
.date, .location {
  color: #333;
  font-size: 1.1em;
  margin-bottom: 0.2rem;
}
.location {
  @supports (display: flex) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  svg { margin-right: 3px; }
}

.imageDiv {
  display: block;
  height: 100%;
  width: 90%;
  max-width: 300px;
  margin: 0 auto 1rem;
}
.image {
  width: 100%;
  margin: 0;
  border: 1px solid #111;
  border-radius: 1.2em;
}
.main {
  padding: 0 10px;
}
.description {
  font-size: 1.1em;
}
.link {
  display: block;
  text-align: center;
  margin: 0.8em auto;
  text-decoration: none;
  font-size: 1.4em;
  color: blue;
  svg {
    font-size: 0.7em;
    margin-left: 0.5rem;
  }
  &:hover, &:active {
    text-decoration: underline;
  }
}

@media screen and (min-width: 600px) {
  .description {
    padding: 0 2rem;
    font-size: 1.3em;
  }
}

@media screen and (min-width: 1024px) {
  .eventCard {
    position: relative;
    border: none;
    border-radius: 1.2em;
    box-shadow: 3px 3px 10px #333;
    padding: 1.2rem;
  }
  .header {
    display: inline-block;
    width: 50%;
    text-align: left;
  }
  .location {
    justify-content: left;
  }
  .imageDiv {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.2rem;
    @supports (display: flex) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @supports not (display: flex) {
      margin-top: 2rem;
    }
  }
  .image {
    border: none;
  }
  .main {
    display: block;
    padding: 0;
    max-width: calc(100% - 320px);
  }
  .description {
    display: inline-block;
    padding: 0 0.8em;
  }
  .link {
    display: inline-block;
    margin: 0.5rem 0 0.5rem 1rem;
    background-color: transparent;
    transition: 800ms all ease-in-out;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    &:hover {
      background-color: rgba(255, 0, 0, 0.3);
    }
  }
}