@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Dosis', sans-serif;
}
.page-wrapper {
  position: relative;
  margin: 60px 0 0 60px;
  padding: 20px 20px 100px;
  min-height: calc(100vh - 280px);
  .section-title {
    font-size: 2em;
    text-align: center;
    padding: 0 0 1rem 0
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -50px;
    left: 0px;
    background-image: url('../svg/curve.svg');
    background-size: cover;
    height: 50px;
    width: calc(100vw - 60px);
    display: block;
    z-index: 3;
  }
}

.tabs {
  display: none;
}

.footer {
  width: 100vw;
  width: calc(100vw - 60px);
  float: right;
  padding-top: 60px;
  max-width: 100vw;
  background: #333;
  background: url('../images/footerBg.jpg');
  color: white;
  text-shadow: 1px 1px black;
  font-size: 1.5em;

  .social {
    @include flexbox();
    align-items: center;
    height: 140px;

    //maybe fade the background a bit lighter here.
  }
  .copywrite {
    @include flexbox();
    justify-content: center; // Supported in Flex Layout
    align-items: center;
    height: 80px;
    border-top: solid 1px rgba(255,255,255,0.6);
    width: 80%;
    margin: auto;
  }
}
.social-buttons {
  @include flexbox();
  justify-content: center;
  width: 100%;
  a {
    padding: 0 1rem;
    transition: all 200ms ease-in-out;
    color: #002fa7;
    font-size: 1.8em;
    &:hover {
      transform: scale(1.5);
    }
  }
}


@media screen and (min-width: 1024px) {
  .page-wrapper {
    margin: 60px 60px 0;
    .section-title {
      text-align: left;
      font-size: 3em;
      padding: 1rem 0 0 0;
    }
    &::after {
      width: 100vw;
      left: -60px;
    }
  }
  .footer {
    width: 100vw;
    float: none;
  }
  .social-buttons > a {
    padding: 0 2rem;
  }
}