@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Dosis', sans-serif;
}
.page-wrapper {
  margin: 60px 0 0 60px;
  padding: 20px;
  // min-height: calc(100vh - 120px);
  .section-title {
    font-size: 2em;
    text-align: center;
    padding: 0 0 1rem 0
  }
}

.tabs {
  display: none;
}

.footer {
  // position: fixed;
  // bottom: 0;
  width: 100vw;
  max-width: 100vw;
  background: #333;
  background: url('../images/footerBg.jpg');
  color: white;
  text-shadow: 1px 1px black;
  font-size: 1.5em;
  z-index: 9;

  .social {
    @include flexbox();
    justify-content: center; // Supported in Flex Layout
    align-items: center;
    height: 200px;

    //maybe fade the background a bit lighter here.
  }
  .copywrite {
    @include flexbox();
    justify-content: center; // Supported in Flex Layout
    align-items: center;
    height: 60px;
  }
}
// @media screen and (min-width: 768px) {
//
// }

@media screen and (min-width: 1024px) {
  .page-wrapper {
    margin: 60px 60px 0;
    .section-title {
      text-align: left;
      font-size: 3em;
      padding: 1rem 0 0 0;
    }
  }
  // .tabs {
  //   display: block;
  //   position: fixed;
  //   top: 60px;
  //   right: -150px;
  //   z-index: 5;
  //   ul {
  //     padding-left: 0;
  //     li {
  //       position: relative;
  //       list-style-type: none;
  //       text-align: center;
  //       padding: 0 5px;
  //       margin: 8px 0;
  //       left: 0;
  //       background-color: blue;
  //       border-radius: 25px 0 0 10px; // Not supported in Opera Mini
  //       transition: all 250ms ease-in-out;
  //       &:hover {
  //         background-color: blueviolet;
  //         left: -150px;
  //       }
  //     }
  //     a {
  //       @include flexbox();
  //       @include flex-direction(row);
  //       justify-content: space-between;
  //       padding: 5px 10px;
  //       text-decoration: none;
  //       color: white;
  //       text-shadow: 1px 1px #111;
  //       font-size: 30px;
  //     }
  //     i {
  //       padding-right: 15px;
  //     }
  //   }
  // }
}